*{
    margin : 0;
    padding : 0;
}

body{
    background-color: #93B2B0;
    text-align: center;
}

h1{
    color: #8331B0;
    border: 50px;
}

/* .card1{
    float: left;
    img {
  width: 200px;
  height: 200px;
}
}

.card2{
    float: right;
    img {
  width: 200px;
  height: 200px;
}
} */

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(102, 102, 102);
    font-size: 8vmin;
    color:#C46D75 ;
    background-color: #DFDFE3;
}

#reset{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #DFDFE3;
    color: #6C473D;
    border-radius: 1rem;
}

#New-Game{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #DFDFE3;
    color: #6C473D;
    border-radius: 1rem;
}

#msg{
    color: #8331B0;
    font-size: 6vmin;
}

.msg-container{
    /* height: 15vmin; */
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

